.css-a198kx{
    background-color: black;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}
.css-ribjmf{
    background-color: black !important ;
    color: white;
    font-size: 60px !important;
    font-weight: 200;
}
